<div class="container">
  <div class="title-bar">
    <h1 class="title">Pokedex</h1>
  </div>
  <div class ="padding">
    <div class="new_block">
    <%= button_to "Create Pokedex", new_pokedex_path, :method => "get", class:"btn btn-primary" , id:"custom-btn"%>
    </div>
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <th>Base HP</th>
        <th>Base Attack</th>
        <th>Base Defence</th>
        <th>Base Speed</th>
        <th>Element Type</th>
        <th>Pokemon Image</th>
      </tr>
      <% @decorated_pokedexes.each do |f| %>
      <tr>
        <td class="col-md-2"><%= f.link_to_show %> </td>
        <td class="col-md-2"><%= f.base_health_point %></td>
        <td class="col-md-2"><%= f.base_attack %></td>
        <td class="col-md-2"><%= f.base_defence %></td>
        <td class="col-md-2"><%= f.base_speed %></td>
        <td class="col-md-2"><%= f.element_type%></td>
        <td class="col-md-2"><%= f.icon %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>