<div class="container">
  <div class="title-bar">
    <h1 class="title">Pokedex</h1>
  </div>
  <div class ="padding">
    <div class="new_block">
      <%= @decorated_pokedex.link_to_edit %>
      <%= @decorated_pokedex.link_to_remove %>
    </div>
    <div class="new_block">
    <div class="col-md-4">
      <%= @decorated_pokedex.image %>
    </div>

    <div class="col-md-6">
      <table class="table table-bordered">
        <tr>
          <th class="col-md-2">Name</th>
          <td class="col-md-2"><%= @decorated_pokedex.name %></td>
        </tr>
        <tr>
          <th class="col-md-2">Base HP</th>
          <td class="col-md-2"><%=@decorated_pokedex.base_health_point%> </td>
        </tr>
        <tr>
          <th class="col-md-2">Base Attack</th>
          <td class="col-md-2"><%=@decorated_pokedex.base_attack%> </td>
        </tr>
        <tr>
          <th class="col-md-2">Base Defence</th>
          <td class="col-md-2"><%=@decorated_pokedex.base_defence%> </td>
        </tr>
        <tr>
          <th class="col-md-2">Base Speed</th>
          <td class="col-md-2"><%=@decorated_pokedex.base_speed%> </td>
        </tr>
        <tr>
          <th class="col-md-2">Element Type</th>
          <td class="col-md-2"><%=@decorated_pokedex.element_type%> </td>
        </tr>
      </table>
    </div>
    <div class="new_block">
      <h3>Top 5 Used Pokemon in Same Pokedex</h3>
    </div>
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <th>Level</th>
        <th>HP</th>
        <th>Attack</th>
        <th>Defence</th>
        <th>Speed</th>
        <th>Type</th>
        <th>Current Experience</th>
      </tr>

      <% @decorated_top_5_pokemon.each do |f| %>
      <tr>
        <td class="col-md-1"><%=f.name%> </td>
        <td class="col-md-1"><%= f.level%></td>
        <td class="col-md-1"><%= f.current_health_point%></td>
        <td class="col-md-1"><%= f.attack %></td>
        <td class="col-md-1"><%= f.defence %></td>
        <td class="col-md-1"><%= f.speed %></td>
        <td class="col-md-1"><%= f.element_type%></td>
        <td class="col-md-1"><%= f.current_experience %></td>
      </tr>
      <% end %>
    </table>
  </div>
  </div>
</div>