<div class="container">
<p id="notice"><%= notice %></p>
<table class="table table-bordered">
<tr>
    <th>Name</th>
    <th>Base HP</th>
    <th>Base Attack</th>
    <th>Base De@pokedexence</th>
    <th>Base Speen</th>
    <th>Element Type</th>

</tr>
<tr>
  <td class="col-md-2"><%=link_to @pokedex.name, @pokedex%> </td>
  <td class="col-md-2"><%= @pokedex.base_health_point %></td>
  <td class="col-md-2"><%= @pokedex.base_attack %></td>
  <td class="col-md-2"><%= @pokedex.base_defence %></td>
  <td class="col-md-2"><%= @pokedex.base_speed %></td>
  <td class="col-md-2"><%= @pokedex.element_type%></td>
 </tr>

</table>
<%= link_to 'Edit', edit_pokedex_path(@pokedex) %> |
<%= link_to 'Back', pokedexes_path %>
</div>