<div class="container">
  <div class="title-bar">
    <h1 class="title">Pokedex</h1>
  </div>
  <div class ="padding">
    <div class="new_block">
      <%= @decorated_pokedex.link_to_edit %>
      <%= @decorated_pokedex.link_to_remove %>
    </div>
    <div class="col-md-4">
      <%= @decorated_pokedex.image %>
    </div>

    <div class="col-md-6">
      <table class="table table-bordered">
        <tr>
          <th class="col-md-2">Name</th>
          <td class="col-md-2"><%= @decorated_pokedex.name %></td>
        </tr>
        <tr>
          <th class="col-md-2">Base HP</th>
          <td class="col-md-2"><%=@decorated_pokedex.base_health_point%> </td>
        </tr>
        <tr>
          <th class="col-md-2">Base Attack</th>
          <td class="col-md-2"><%=@decorated_pokedex.base_attack%> </td>
        </tr>
        <tr>
          <th class="col-md-2">Base Defence</th>
          <td class="col-md-2"><%=@decorated_pokedex.base_defence%> </td>
        </tr>
        <tr>
          <th class="col-md-2">Base Speed</th>
          <td class="col-md-2"><%=@decorated_pokedex.base_speed%> </td>
        </tr>
        <tr>
          <th class="col-md-2">Element Type</th>
          <td class="col-md-2"><%=@decorated_pokedex.element_type%> </td>
        </tr>
      </table>
    </div>
  </div>
</div>