<%= form_for(skill) do |f| %>
  <% if skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row control-group">
   <div class="form-group col-xs-12 floating-label-form-group controls">
     <%= f.label :name%>
     <%= f.text_field :name, class:"form-control", placeholder: "Name"%>
      <% if !@skill.errors[:name].blank?%>
     <li class="error_text">
     <%= @skill.errors.full_messages_for(:name).join(', ') %>
     </li>
     <% end %>
 </div>
 </div>
 <div class="row control-group">
   <div class="form-group col-xs-12 floating-label-form-group controls">
     <%= f.label :power%>
     <%= f.text_field :power, class:"form-control", placeholder: "Power"%>
     <% if !@skill.errors[:power].blank?%>
     <li class="error_text">
     <%= @skill.errors.full_messages_for(:power).join(', ') %>
     </li>
     <% end %>
 </div>
 </div>
 <div class="row control-group">
   <div class="form-group col-xs-12 floating-label-form-group controls">
     <%= f.label :max_pp%>
     <%= f.text_field :max_pp, class:"form-control", placeholder: "Max PP"%>
      <% if !@skill.errors[:max_pp].blank?%>
     <li class="error_text">
     <%= @skill.errors.full_messages_for(:max_pp).join(', ') %>
     </li>
     <% end %>
 </div>
</div>
 <div class="row control-group">
   <div class="form-group col-xs-12 floating-label-form-group controls">
     <%= f.label :element_type%>
     <%= f.select(:element_type, options_for_select([['Normal', 'Normal'], ['Fire', 'Fire'], ['Fighting', 'Fighting'], ['Water', 'Water'], ['Flying', 'Flying'], ['Grass', 'Grass'], ['Poison', 'Poison'], ['Electric', 'Electric'], ['Ground', 'Ground'], ['Psychic', 'Psychic'], ['Rock', 'Rock'], ['Ice', 'Ice'], ['Bug', 'Bug'], ['Dragon', 'Dragon'], ['Ghost', 'Ghost'], ['Dark', 'Dark'], ['Steel', 'Steel'], ['Fairy', 'Fairy'] ]), {}, { :class => 'form-control' } ) %>
 </div>
</div>
  <div class="actions form col-md-11 col-sm-11">
  <%= f.button :submit => "", class:"btn btn-default center-block" %>
</div>
<% end %>