<div class="container">
  <div class="title-bar">
    <h1 class="title">Skill</h1>
  </div>
  <div class ="padding">
    <%= button_to "Create Skill", new_skill_path, :method => "get", class:"btn btn-primary" , id:"custom-btn"%>
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <th>Power</th>
        <th>Max PP</th>
        <th>Element Type</th>
      </tr>
      <% @decorated_skills.each do |f| %>
      <tr>
        <td class="col-md-2"><%= f.link_to_show%> </td>
        <td class="col-md-2"><%= f.power %></td>
        <td class="col-md-2"><%= f.max_pp %></td>
        <td class="col-md-2"><%= f.element_type%></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>