<div class="container">
  <div class="title-bar">
    <h1 class="title">Skill</h1>
  </div>
  <div class ="padding">
    <div class="new_block add-pokemon-skill">
      <%= @decorated_skill.link_to_edit %>
      <%= @decorated_skill.link_to_remove%>
    </div>
    <table class="table table-bordered">

      <tr>

        <th class="col-md-4">Nama: </th>
        <td class="col-md-4"><%= @decorated_skill.name%> </td>
      </tr>
      <tr>
        <th class="col-md-4">Power:</th>
        <td class="col-md-4"><%= @decorated_skill.power%> </td>
      </tr>
      <tr>
        <th class="col-md-4">Max PP:</th>
        <td class="col-md-4"><%= @decorated_skill.max_pp %></td>
      </tr>
      <tr>
        <th class="col-md-4">Element Type:</th>
        <td class="col-md-4"><%= @decorated_skill.element_type%></td>
      </tr>
    </table>
  </div>
</div>