<div class="container">
<div class="title-bar">
<h1 class="title">Skill</h1>
</div>
<div class ="padding">
<div class="new_block add-pokemon-skill">
<%= link_to 'Back', skills_path, class: "btn btn-default btn-remove" %>
<%= link_to 'Edit', edit_skill_path(@skill), class: "btn btn-default btn-remove" %>
<%= link_to "Remove Skill", @skill, :method => "delete", data: {confirm: "Are you sure you want to delete it?"}, class: "btn btn-default btn-remove" %>
</div>
<table class="table table-bordered">

<tr>

  <th class="col-md-4">Nama: </th>
  <td class="col-md-4"><%= @skill.name%> </td>
</tr>
<tr>
  <th class="col-md-4">Power:</th>
  <td class="col-md-4"><%= @skill.power%> </td>
</tr>
<tr>
  <th class="col-md-4">Max PP:</th>
  <td class="col-md-4"><%= @skill.max_pp %></td>
</tr>
<tr>
  <th class="col-md-4">Element Type:</th>
  <td class="col-md-4"><%= @skill.element_type%></td>
   </tr>
</table>
</div>
</div>