<div class="container">
  <div class="title-bar">
    <h1 class="title">Pokemon Battles</h1>
  </div>
  <div class ="padding">
    <%= button_to "Create Battle", new_pokemon_battle_path, :method => "get", class:"btn btn-primary" , id:"custom-btn"%>

    <table class="table table-bordered">
      <tr>
        <th>Pokemon 1</th>
        <th>Pokemon 2</th>
        <th>Turn</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <% @decorated_pokemon_battles.each do |f| %>
      <tr>
        <td class="col-md-1"><%=f.link_to_pokemon1%> </td>
        <td class="col-md-1"><%=f.link_to_pokemon2%></td>
        <td class="col-md-1"><%=f.current_turn%> </td>
        <td class="col-md-1"><%=f.state%></td>
        <td class="col-md-1"><%= f.link_to_remove %> </td>

      </tr>
      <% end %>
    </table>

  </div>
</div>