<div class="container">
  <div class="title-bar">
    <h1 class="title">Pokemon Battle</h1>
  </div>

  <div class ="padding">
    <%= @decorated_pokemon_battle.link_to_pokemon_battle_log%>
      <div class="row control-group">
       <div class="form-group col-xs-4 floating-label-form-group controls">
         <% if @pokemon_battle.pokemon_winner_id == @decorated_pokemon_battle.pokemon1_id%>
         <h3 class="text-center">Winner</h3>
         <%elsif @pokemon_battle.pokemon_loser_id == @decorated_pokemon_battle.pokemon1_id %>
         <h3 class="text-center">Loser</h3>
         <% end %>
         <h3 class="text-center">Pokemon 1</h3>
         <%= @decorated_pokemon_battle.image_pokemon1%>
         <div class ="padding-battle-details">
           <h5>Name : <%=@decorated_pokemon_battle.pokemon1%></h5>
           <h5>HP : <%=@decorated_pokemon_battle.current_hp_pokemon1%></h5>
           <% if @pokemon_battle.current_turn%2 == 1 and @pokemon_battle.state == 'On Going'%>
           <h5>Skill : </h5>
           <%= form_tag pokemon_battle_attack_path(@pokemon_battle) , method: :patch do %>


           <%= select_tag("skill", options_for_select(PokemonSkill.where(pokemon_id: @pokemon_battle.pokemon1_id).map {|f| Skill.find(f.skill_id).name }), {class: 'form-control', include_blank: '-- Please Select Skill Below --'})%>
           <li class="error_text">
             <%= @errors[:skill] %>
           </li>
           <%= hidden_field_tag "pokemon_attacker", @decorated_pokemon_battle.pokemon1_id %>
           <%= hidden_field_tag "pokemon_defender", @decorated_pokemon_battle.pokemon2_id %>
           <%= submit_tag 'Attack', class:"btn btn-primary attack-btn", id: 'custom-btn'%>
           <% end %>
           <%= form_tag pokemon_battle_surrender_path(@pokemon_battle) , method: :patch do %>
           <%= hidden_field_tag "pokemon_attacker", @decorated_pokemon_battle.pokemon1_id %>
           <%= hidden_field_tag "pokemon_defender", @decorated_pokemon_battle.pokemon2_id %>
           <%= submit_tag 'Surrender', class:"btn btn-danger attack-btn", id: 'custom-btn'%>

           <% end %>
           <% end %>
         </div>

       </div>


       <div class="form-group col-xs-4 floating-label-form-group controls">
         <h1 class="text-center">VS</h1>
         <h1 class="text-center"><%= @pokemon_battle.state %></h1>
         <h1 class="text-center"><%= @pokemon_battle.battle_type %></h1>
       </div>

       <div class="form-group col-xs-4 floating-label-form-group controls">
         <% if @pokemon_battle.pokemon_winner_id == @decorated_pokemon_battle.pokemon2_id%>
         <h3 class="text-center">Winner</h3>
         <%elsif @pokemon_battle.pokemon_loser_id == @decorated_pokemon_battle.pokemon2_id %>
         <h3 class="text-center">Loser</h3>
         <% end %>
         <h3 class="text-center">Pokemon 2</h3>
         <%= @decorated_pokemon_battle.image_pokemon2 %>
         <div class ="padding-battle-details">
           <h5>Name : <%=@decorated_pokemon_battle.pokemon2%></h5>
           <h5>HP : <%=@decorated_pokemon_battle.current_hp_pokemon2%></h5>
           <% if @pokemon_battle.current_turn%2 == 0 and @pokemon_battle.state == 'On Going' and @pokemon_battle.battle_type != 'Battle With AI' %>
           <h5>Skill : </h5>
           <%= form_tag pokemon_battle_attack_path(@pokemon_battle) , method: :patch do %>
           <%= select_tag("skill", options_for_select(PokemonSkill.where(pokemon_id: @pokemon_battle.pokemon2_id).map {|f| Skill.find(f.skill_id).name }),{class: 'form-control', include_blank: '-- Please Select Skill Below --'})%>
           <li class="error_text">
             <%= @errors[:skill] %>
           </li>
           <%= hidden_field_tag "pokemon_attacker", @decorated_pokemon_battle.pokemon2_id %>
           <%= hidden_field_tag "pokemon_defender", @decorated_pokemon_battle.pokemon1_id %>
           <%= submit_tag 'Attack', class:"btn btn-primary attack-btn", id: 'custom-btn'%>
           <% end %>
           <%= form_tag pokemon_battle_surrender_path(@pokemon_battle) , method: :patch do %>
           <%= hidden_field_tag "pokemon_attacker", @decorated_pokemon_battle.pokemon2_id %>
           <%= hidden_field_tag "pokemon_defender", @decorated_pokemon_battle.pokemon1_id %>
           <%= submit_tag 'Surrender', class:"btn btn-danger attack-btn", id: 'custom-btn'%>

           <% end %>
           <% end %>
         </div>
       </div>

     </div>
   </div>
 </div>
</div>

