<div class="container">
  <div class="title-bar">
    <h1 class="title">Pokemon</h1>
  </div>
  <div class ="padding">
    <div class="new_block">
      <% if @show_heal_btn == true %>
        <%= @decorated_pokemon.link_to_heal %>
      <% end %>
      <%= @decorated_pokemon.link_to_edit %>
      <%= @decorated_pokemon.link_to_remove %>
    </div>

  <div class="new_block">
    <div class="col-md-4">
      <%= @decorated_pokemon.image %>
    </div>

    <div class="col-md-6">
      <table class="table table-bordered">
        <tr>
          <th class="col-md-2">Name</th>
          <td class="col-md-2"><%=@decorated_pokemon.name%> </td>
        </tr>
        <tr>
          <th class="col-md-2">Level</th>
          <td class="col-md-2"><%=@decorated_pokemon.level%></td>
        </tr>
        <tr>
          <th class="col-md-2">HP</th>
          <td class="col-md-2"><%=@decorated_pokemon.current_health_point%></td>
        </tr>
        <tr>
          <th class="col-md-2">Attack</th>
          <td class="col-md-2"><%=@decorated_pokemon.attack%> </td>
        </tr>
        <tr>
          <th class="col-md-2">Defence</th>
          <td class="col-md-2"><%=@decorated_pokemon.defence%> </td>
        </tr>
        <tr>
          <th class="col-md-2">Speed</th>
          <td class="col-md-2"><%=@decorated_pokemon.speed%> </td>
        </tr>
        <tr>
          <th class="col-md-2">Current Experience</th>
          <td class="col-md-2"><%=@decorated_pokemon.current_experience%> </td>
        </tr>
        <tr>
          <th class="col-md-2">Type</th>
          <td class="col-md-2"><%= @decorated_pokemon.element_type%> </td>
        </tr>
      </table>
    </div>

    <div class="new_block add-pokemon-skill">
      <h2>Skill List</h2>
    </div>

    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <th>PP</th>
        <th>Power</th>
        <th>Element Type</th>
        <th>Action</th>
      </tr>
      <%if !@decorated_pokemon_skills.blank? %>
      <% @decorated_pokemon_skills.each do |f| %>
      <tr>
        <td class="col-md-2"><%=link_to Skill.find(f.skill_id).name, skill_path(f.skill_id)%> </td>
        <td class="col-md-2"><%= f.current_pp%></td>
        <td class="col-md-2"><%= Skill.find(f.skill_id).power %></td>
        <td class="col-md-2"><%= Skill.find(f.skill_id).element_type %></td>
        <td class="col-md-2"><%= f.link_to_remove%></td>
      </tr>
      <% end %>
      <% end %>
    </table>

    <%= form_for(@pokemon_skill, url: pokemon_create_pokemon_skill_path(@decorated_pokemon.id)) do |f| %>
    <div class="new_block add-pokemon-skill">
      <h2>Add New Skill</h2>
    </div>
    <div class="row control-group">
     <div class="form-group col-xs-12 floating-label-form-group controls">
       <%= f.label :Skill%>
       <%= f.select("skill_id", Skill.all.collect {|p| [ p.name, p.id ] }, { include_blank: '-- Please Select Skill Below --' }, {:class => "form-control"})%>
       <% @pokemon_skill.errors.full_messages.each do |message| %>
       <li class="error_text"><%= message %></li>
       <% end %>

     </div>
   </div>

   <div class="actions form">
    <%= f.button :submit => "Submit", class:"btn btn-default" %>
  </div>
  <% end %>



</div>
</div>
</div>




